@using Lifestoned.DataModel.Shared

<script language="javascript">
        $("#addStringProperty").on("click", function () {
            $("#MvcAction").val(@((int)WeenieCommands.AddStringProperty));
            $("#PropertyTab").val("stringProperties");
            $("form").submit();
        });

        $("#addIntProperty").on("click", function () {
            $("#MvcAction").val(@((int)WeenieCommands.AddIntProperty));
            $("#PropertyTab").val("int32Properties");
            $("form").submit();
        });

        $("#addInt64Property").on("click", function () {
            $("#MvcAction").val(@((int)WeenieCommands.AddInt64Property));
            $("#PropertyTab").val("int64Properties");
            $("form").submit();
        });

        $("#addDoubleProperty").on("click", function () {
            $("#MvcAction").val(@((int)WeenieCommands.AddDoubleProperty));
            $("#PropertyTab").val("dblProperties");
            $("form").submit();
        });

        $("#addBoolProperty").on("click", function () {
            $("#MvcAction").val(@((int)WeenieCommands.AddBoolProperty));
            $("#PropertyTab").val("boolProperties");
            $("form").submit();
        });

        $("#addDidProperty").on("click", function () {
            $("#MvcAction").val(@((int)WeenieCommands.AddDidProperty));
            $("#PropertyTab").val("didProperties");
            $("form").submit();
        });

        $("#addIidProperty").on("click", function () {
            $("#MvcAction").val(@((int)WeenieCommands.AddIidProperty));
            $("#PropertyTab").val("iidProperties");
            $("form").submit();
        });

        @*$("#addSpell").on("click", function () {
            $("#MvcAction").val(@((int)WeenieCommands.AddSpell));
            $("form").submit();
        });*@

        @*$("#addSkill").on("click", function () {
            $("#MvcAction").val(@((int)WeenieCommands.AddSkill));
            $("form").submit();
        });*@

        @*$("#addPosition").on("click", function () {
            $("#MvcAction").val(@((int)WeenieCommands.AddPosition));
            $("form").submit();
        });*@

        @*$("#addBookPage").on("click", function () {
            $("#MvcAction").val(@((int)WeenieCommands.AddBookPage));
            $("form").submit();
        });*@

        @*$("#addBodyParts").on("click", function () {
            $("#MvcAction").val(@((int)WeenieCommands.AddBodyParts));
            $("form").submit();
        });*@

        $("#addBodyPart").on("click", function () {
            $("#MvcAction").val(@((int)WeenieCommands.AddBodyPart));
            $("form").submit();
        });

        $("#addEmoteSet").on("click", function () {
            $("#MvcAction").val(@((int)WeenieCommands.AddEmoteSet));
            $("form").submit();
        });

        @*$("#addGeneratorTable").on("click", function () {
            $("#MvcAction").val(@((int)WeenieCommands.AddGeneratorTable));
            $("form").submit();
        });*@

        $("input[name='addEmote']").on("click", function () {
            var emoteSetGuid = $(this).attr("data-content");
            var emoteCategory = $(this).attr("data-container");
            $("#NewEmoteCategory").val(emoteCategory);
            $("#EmoteSetGuid").val(emoteSetGuid);
            $("#MvcAction").val(@((int)WeenieCommands.AddEmote));
            $("form").submit();
        });

        @*$("#addCreateItem").on("click", function () {
            $("#MvcAction").val(@((int)WeenieCommands.AddCreateItem));
            $("form").submit();
        });*@

        $(".well").on("click", "[name^='remove']", function () {
            // deleting the whole row (with inputs) makes the server side drop
            // anything that comes after this one.  instead, we need to just set a flag
            // and let the server handle removal of it.
            parentDiv = $(this).parent().parent();
            var deleteInput = parentDiv.find("[id$=Deleted]");
            deleteInput.val("True");
            $(this).parents(".row.row-spacer, .panel-default").first().addClass("hidden");
            //parentDiv.parent().addClass("hidden");
        });

        //$("#removePage").on("click", function () {
        //    // the generic handler will take care of the current row, but book pages
        //    // are 2 rows, so we need to catch the second as well
        //    secondRow = $(this).parent().parent().next();
        //    secondRow.addClass("hidden");
        //});

        //$("#removeBodyPart").on("click", function () {
        //    // the generic handler will take care of the current row, but body parts
        //    // are are a whole panel
        //    panel = $(this).parent().parent().parent().parent();
        //    panel.addClass("hidden");
        //});

        //$(".well").on("click", "[name^='removeEmote']", function () {
        //    // the generic handler will take care of the current row, but emote sets and emotes
        //    // are bigger and have another container div to hide
        //    var containerRow = $(event.target).parent().parent().parent();
        //    containerRow.addClass("hidden");
        //});

        // Add a search button after all class items of type weenieClassEntry to show the search modal popup
        //$(".weenieClassEntry").each(function (e) {
        //    var searchBtn = $(this).after('<div class="btn btn-info modelSearchBtn pull-right" data-rel="' + $(this).attr("id") + '" style="margin-top:-2.4em;position:relative;"><span class="glyphicon glyphicon-search"></span></div>');
        //});

        // Set the event listerner for the weenie modal search button
        $(".modelSearchBtn").on("click", function () {
            $("#searchWeenieModalResults").hide(); // re-hide any previous search results
            $("#searchWeenieModalResults table tbody > tr").remove(); // clear any previous search results

            $("#searchWeenieModal").modal();
            weenieSearchTarget = $(this).attr("data-rel"); // store this so we can set the value of it later...
        });
        var weenieSearchTarget;
        $("#searchWeenieBtn").on("click", function () {
            $("#searchWeenieModalResults").hide(); // re-hide any previous search results
            $("#searchWeenieModalResults table tbody > tr").remove(); // clear any previous search results

            // Ordinarily would just serialize a form, but .NET seems to want to put the whole page into a form and can't do a form within a form, so...ugh, this is hacky!
            var formData = "partialName=" + $("#searchWeenie_Criteria_PartialName").val()
                + "&WeenieClassId=" + $("#searchWeenie_Criteria_WeenieClassId").val()
                + "&ItemType=" + $("#searchWeenie_Criteria_ItemType").val()
                + "&WeenieType=" + $("#searchWeenie_Criteria_WeenieType").val();

            $.ajax(
                {
                    type: "POST",
                    data: formData,
                    dataType: "json",
                    url: "/Weenie/WeenieFinder",
                }).done(function (data) {
                    console.log(data);

                    if (data.length > 0) {
                        var table = $("#searchWeenieModalResults table tbody");
                        // Loop over the results and slap them into the table
                        $.each(data, function (key, data) {
                            $(table).append('<tr><td><a href="javascript:selectSearchWCID(' + data.WeenieClassId + ');" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-ok"></span></a></td><td> ' + data.WeenieClassId + '</td><td>' + data.Name + '</td><td>' + data.Description + '</td><td>' + data.ItemType + '</td><td>' + data.WeenieType + '</td></tr>')
                        });

                        $("#searchWeenieModalResults").show();
                    } else {
                        alert('No results found.');
                    }
                });

        });

        function selectSearchWCID(wcid) {
            $("#" + weenieSearchTarget).val(wcid);
            $("#searchWeenieModal").modal('hide');
        }

        function validate() {
            var cl = $('#UserChangeSummary');
            if (cl.val().length == 0) {
                cl.focus();
                return false;
            } else {
                return true;
            }
        }

        $(document).ready(function () {
            var tab = $("#PropertyTab").val();

            if (tab != "") {
                $('a[href="#' + tab + '"]').tab('show');
            }

            $("#MvcAction").val("");
            $("#PropertyTab").val("");

            $("input[name^='add'][data-action]").click(function (evt) {
                $this = $(this);

                $("#MvcAction").val($this.data('action'));
                $("#PropertyTab").val($this.data('tab'));
                $("form").submit();
            });

            $('#btnSave').click(function (e) {
                if (!validate())
                    e.preventDefault();
            });

            $('#NewSpellId').selectize({});
            $('.customMultiselect').selectize({ maxItems: null, allowEmptyOption: true });

            $('#preview').click(function (evt) {
                var link = $(this);
                var href = link.attr('href');

                var sid = $('#didProperties input[name$="Key"][value="1"]').parent().parent().find('input[name$="Value"]').val();
                var cid = $('#didProperties input[name$="Key"][value="7"]').parent().parent().find('input[name$="Value"]').val();
                var pid = $('#int32Properties input[name$="Key"][value="3"]')
                    .parent().parent()
                    .find('input[name$="Value"], option:selected').val();

                var shade = $('#dblProperties input[name$="Key"][value="12"]')
                    .parent().parent()
                    .find('input[name$="Value"]').val();

                if (cid && sid) {
                    href = 'http://ac.yotesfan.com/10-Clothing/preview.php?id={{cid}}&setup={{sid}}&pal={{pid}}&shade={{shade}}';
                    href = href.replace("{{cid}}", ('00000000' + parseInt(cid).toString(16)).substr(-8));
                    if (pid) {
                        href = href.replace("{{pid}}", pid);
                    } else {
                        alert('INT 3 Not Found');
                        evt.preventDefault();
                        evt.stopPropagation();
                        return;
                    }
                    href = href.replace("{{shade}}", shade);
                } else if (sid) {
                    href = 'http://ac.yotesfan.com/02-Setup/?id={{sid}}'
                } else {
                    alert('Requires DID 1 or DID 1, 7, and INT 3');
                    evt.preventDefault();
                    evt.stopPropagation();
                    return;
                }

                href = href.replace("{{sid}}", ('00000000' + parseInt(sid).toString(16)).substr(-8));

                link.attr('href', href);
            });
        });
</script>

