@model DerethForever.Web.Models.Weenie.IndexModel

@{
    ViewBag.Title = "Weenie Search";
}

<br/>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal well">
        <h4>Weenie Search</h4>
        <hr />
        
        @Html.DisplayFor(m => m, "InfoMessages")

        <div class="form-group">
            <label class="control-label col-md-2" for="Criteria_PartialName">Name</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Criteria.PartialName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Criteria.PartialName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Criteria_WeenieClassId">Weenie Id</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Criteria.WeenieClassId, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Criteria.WeenieClassId, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Criteria_ItemType">Item Type</label>
            <div class="col-md-10">
                @Html.EnumDropDownListFor(m => m.Criteria.ItemType, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Criteria.ItemType, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Criteria_WeenieType">Weenie Type</label>
            <div class="col-md-10">
                @Html.EnumDropDownListFor(m => m.Criteria.WeenieType, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Criteria.WeenieType, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </div>

    </div>
    <hr/>

    if (Model.ShowResults)
    {
        @Html.Partial("WeenieList", Model.Results)
    }
}

