@using Lifestoned.DataModel.Gdle;
@using Lifestoned.DataModel.Shared
@model Weenie

@{
    ViewBag.Title = "Create " + Model.Name;
}

<br />

@using (Html.BeginForm(Model.IsCloneMode ? "Clone" : "New", "Weenie", FormMethod.Post))
{
    @Html.AntiForgeryToken()

<div class="btn-group-vertical stuck" role="group">
    <button id="btnSave" type="submit" class="btn btn-primary" title="Save"><i class="glyphicon glyphicon-floppy-save"></i></button>
    <a href="@Url.Action("Edit", "Weenie", new { id = Model.WeenieClassId })" class="btn btn-primary" title="Cancel"><i class="glyphicon glyphicon-remove"></i></a>
    @if (User.IsInRole("Admin"))
    {
        <a href="@Url.Action("Delete", "Weenie", new { id = Model.WeenieClassId })" class="btn btn-primary" title="Delete"><i class="glyphicon glyphicon-trash"></i></a>
    }
    <a id="preview" target="_blank" href="http://ac.yotesfan.com/10-Clothing/preview.php?id={{cid}}&setup={{sid}}&pal={{pid}}" class="btn btn-primary" title="preview"><i class="glyphicon glyphicon-search"></i></a>
</div>

    <div class="form-horizontal">
        <h2>
            New @Html.Raw(Model.Name) (@(Html.DisplayFor(m => m.WeenieClassId)))
            @if (Model.IconId != null)
            {
                <div class="icon">
                    <!-- GetDynamicIcon(int? itemType, uint? underlayId, uint? overlayId, uint? iconId, int? uiEffects)-->
                    <img src="@Url.Action("GetDynamicIcon", "Resource",
                                  new {
                                      itemType = Model.ItemType,
                                      underlayId = Model.UnderlayId,
                                      overlayId = Model.OverlayId,
                                      iconId = Model.IconId,
                                      uiEffects = Model.UIEffects }) "/>
                </div>
            }
        </h2>
        <hr />
        <div class="container">

            @Html.HiddenFor(m => m.MvcAction)
            @Html.HiddenFor(m => m.PropertyTab)
            @Html.HiddenFor(m => m.IsCloneMode)
            @Html.DisplayFor(m => m, "InfoMessages")

            <div class="well">
                <div class="row row-spacer">
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.IsDone)
                    </div>
                    <div class="col-md-8">
                        @Html.CheckBoxFor(m => m.IsDone)
                    </div>
                </div>
                <div class="row row-spacer">
                    Check this box when this weenie is completely done with editing for purposes of restoring Dereth to its January 2017 state.
                </div>
            </div>

            <div class="well">
                <div class="row row-spacer">
                    <div class="col-md-2 vcenter">
                        @Html.Label("Weenie ID")
                    </div>
                    <div class="col-md-8 vcenter">
                        @Html.TextBoxFor(m => m.WeenieClassId, new { @class = "form-control force-inline" })
                    </div>
                </div>
            </div>

            @Html.EditorFor(m => m)

        </div>

    </div>

}

@section scripts {
@Html.Partial("EditorScript")
}
