@model IEnumerable<Lifestoned.DataModel.Content.Content>

@{
    ViewBag.Title = "Content List";
}

<h2>Content List</h2>

<p>
    @Html.ActionLink("Create New", "New")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ContentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContentType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ContentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContentType)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ContentGuid }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
