@using Lifestoned.DataModel.Shared;
@model string[]

@{
    Type enumType = (Type)ViewData["enumType"];
    List<uint> values = new List<uint>();

    if (Model != null && Model.Length > 0)
    {
        values = Model.Select(s => uint.Parse(s)).ToList();
    }
}

<select id="@Html.IdForModel()" name="@Html.NameForModel()" multiple class="form-control customMultiselect">
    <option value="" label=""></option>
    @foreach (Enum r in Enum.GetValues(enumType))
    {
        if (Convert.ToUInt32(r) < 1)
        {
            continue;
        }

        bool sel = values.Contains(Convert.ToUInt32(r));
        string selected = sel ? "selected" : "";

        <option value="@(Convert.ToUInt32(r))" label="@(r.GetName())" @(selected)>@(r.GetName())</option>
    }
</select>
