@model Lifestoned.DataModel.Gdle.Frame

@Html.TextBoxFor(m => m.Display)

@*<div class="row row-spacer">
    <div class="col-md-2">@Html.Label("Position")</div>
    <div class="col-md-2">
        <div class="input-group">
            <span class="input-group-addon">X</span>
            @Html.TextBoxFor(m => m.Position.X, new { @class = "form-control" })
        </div>
    </div>
    <div class="col-md-2">
        <div class="input-group">
            <span class="input-group-addon">Y</span>
            @Html.TextBoxFor(m => m.Position.Y, new { @class = "form-control" })
        </div>
    </div>
    <div class="col-md-2">
        <div class="input-group">
            <span class="input-group-addon">Z</span>
            @Html.TextBoxFor(m => m.Position.Z, new { @class = "form-control" })
        </div>
    </div>
</div>
<div class="row row-spacer quat">
    <div class="col-md-2">@Html.Label("Rotation")</div>
    <div class="col-md-2">
        <div class="input-group">
            <span class="input-group-addon">W</span>
            @Html.TextBoxFor(m => m.Rotations.W, new { @class = "form-control" })
        </div>
    </div>
    <div class="col-md-2">
        <div class="input-group">
            <span class="input-group-addon">X</span>
            @Html.TextBoxFor(m => m.Rotations.X, new { @class = "form-control" })
        </div>
    </div>
    <div class="col-md-2">
        <div class="input-group">
            <span class="input-group-addon">Y</span>
            @Html.TextBoxFor(m => m.Rotations.Y, new { @class = "form-control" })
        </div>
    </div>
    <div class="col-md-2">
        <div class="input-group">
            <span class="input-group-addon">Z</span>
            @Html.TextBoxFor(m => m.Rotations.Z, new { @class = "form-control" })
        </div>
    </div>
</div>*@
