@using DerethForever.Web.Models.Enums
@model List<DerethForever.Web.Models.Shared.Position>

<h3>Positions</h3>

<div class="row row-spacer">
    <div class="col-md-2"><strong>Position Type</strong></div>    
    <div class="col-md-1"><strong>Landblock</strong></div>
    <div class="col-md-1"><strong>X</strong></div>
    <div class="col-md-1"><strong>Y</strong></div>
    <div class="col-md-1"><strong>Z</strong></div>
    <div class="col-md-1"><strong>Q-W</strong></div>
    <div class="col-md-1"><strong>Q-X</strong></div>
    <div class="col-md-1"><strong>Q-Y</strong></div>
    <div class="col-md-1"><strong>Q-Z</strong></div>
    <div class="col-md-2"></div>
</div>


@for (int i = 0; i < (Model?.Count ?? 0); i++)
{
    <div class="row row-spacer">
        <div class="col-md-2">
            @Html.HiddenFor(m => m[i].Deleted)
            @Html.HiddenFor(m => m[i].PositionType)
            @Html.DisplayFor(m => m[i].PositionTypeBinder)
        </div>    
        <div class="col-md-1">@Html.TextBoxFor(m => m[i].Landblock, new { style = "width: 90px;" })</div>
        <div class="col-md-1">@Html.TextBoxFor(m => m[i].X, new { style = "width: 90px;" })</div>
        <div class="col-md-1">@Html.TextBoxFor(m => m[i].Y, new { style = "width: 90px;" })</div>
        <div class="col-md-1">@Html.TextBoxFor(m => m[i].Z, new { style = "width: 90px;" })</div>
        <div class="col-md-1">@Html.TextBoxFor(m => m[i].QW, new { style = "width: 90px;" })</div>
        <div class="col-md-1">@Html.TextBoxFor(m => m[i].QX, new { style = "width: 90px;" })</div>
        <div class="col-md-1">@Html.TextBoxFor(m => m[i].QY, new { style = "width: 90px;" })</div>
        <div class="col-md-1">@Html.TextBoxFor(m => m[i].QZ, new { style = "width: 90px;" })</div>
        <div class="col-md-2">
            <input type="button" class="btn btn-xs btn-danger" name="removePosition" value="Remove" />
        </div>
    </div>
}
