@model List<Lifestoned.DataModel.Gdle.SkillListing>

<h3>Skills</h3>

<div class="row row-spacer">
    <div class="col-md-2"><strong>Skill</strong></div>
    <div class="col-md-2"><strong>Status</strong></div>
    <div class="col-md-1"><strong data-toggle="tooltip" title="Ranks are in addition to whatever base value would be calculated from attributes.">Total Value</strong></div>
    <div class="col-md-2"><strong>Ranks</strong></div>
    <div class="col-md-4"></div>
</div>


@for (int i = 0; i < (Model?.Count ?? 0); i++)
{
    <div class="row row-spacer">
        <div class="col-md-2">
            @Html.HiddenFor(m => m[i].Deleted)
            @Html.HiddenFor(m => m[i].SkillId)
            @Html.HiddenFor(m => m[i].Skill.XpInvested)
            @Html.DisplayFor(m => m[i].SkillName)
        </div>
        <div class="col-md-2">
            @Html.EnumDropDownListFor(m => m[i].Skill.Status_Binder, new { @class = "form-control" })
        </div>
        <div class="col-md-2">@Html.TextBoxFor(m => m[i].Skill.Ranks, new { @class = "form-control" })</div>
        <div class="col-md-2">
            <input type="button" class="btn btn-xs btn-danger" name="removeSkill" value="Remove" />
        </div>
        <div class="col-md-2"></div>
    </div>
}
