@using Lifestoned.DataModel.Gdle;
@model List<StringStat>

<input type="hidden" id="StringPropertyCount" value="@Model.Count()" />
@for (int i = 0; i < Model.Count(); i++)
{
    <div class="row row-spacer">
        <div class="col-md-2">
            @Html.DisplayFor(m => m[i].PropertyIdBinder)
            @Html.HiddenFor(m => m[i].Key)
            @Html.HiddenFor(m => m[i].Deleted)
        </div>
        <div class="col-md-9">
            @Html.TextAreaFor(m => m[i].Value, new { cols = 110, rows = 2, @class = "form-control" })
        </div>
        <div class="col-md-1">
            <input type="button" class="btn btn-xs btn-danger" name="removeProperty" value="Remove" />
        </div>
    </div>
}
