@using DerethForever.Web.Controllers
@model List<Lifestoned.DataModel.Gdle.WeenieChange>

@if (Model == null || Model.Count < 1)
{
    <div class="alert alert-info">
        There are no changes to review.
    </div>
}
else
{
    for (int i = 0; i < Model.Count; i++)
    {
    <div class="well @(!Model[i].Submitted ? "need-submit" : "")">
        <div class="row">
            <div class="col-md-1">
                <div class="icon">
                    <!-- GetDynamicIcon(int? itemType, uint? underlayId, uint? overlayId, uint? iconId, int? uiEffects)-->
                    <img src="@Url.Action("GetDynamicIcon", "Resource",
                                  new {
                                      itemType = Model[i].Weenie.ItemType,
                                      underlayId = Model[i].Weenie.UnderlayId,
                                      overlayId = Model[i].Weenie.OverlayId,
                                      iconId = Model[i].Weenie.IconId,
                                      uiEffects = Model[i].Weenie.UIEffects }) " />
                </div>
            </div>
            <div class="col-md-6">
                @Html.DisplayFor(m => m[i].Weenie.Name)
                (@Html.DisplayFor(m => m[i].Weenie.WeenieClassId))<br />
                Submitted by @Html.DisplayFor(m => m[i].UserName) on @Html.DisplayFor(m => m[i].SubmissionTimeDisplay)<br />
                <br />
            </div>
            <div class="col-md-5">
                <div class="btn-group">
                    <div class="btn btn-default btn-sm">@Html.ActionLink("Edit", "Edit", "Weenie", new { id = Model[i].Weenie.WeenieClassId }, null)</div>
                    <div class="btn btn-default btn-sm">@Html.ActionLink("Clone", "Clone", "Weenie", new { id = Model[i].Weenie.WeenieClassId }, null)</div>
                    <div class="btn btn-default btn-sm">
                        <i class="glyphicon glyphicon-download"></i>
                        @Html.ActionLink("Sandbox", "DownloadSandbox", "Weenie", new { id = Model[i].Weenie.WeenieClassId, userGuid = Model[i].UserGuid }, null)
                    </div>
                    <div class="btn btn-default btn-sm">
                        <i class="glyphicon glyphicon-download"></i>
                        @Html.ActionLink("Original", "DownloadOriginal", "Weenie", new { id = Model[i].Weenie.WeenieClassId }, null)
                    </div>

                </div>
                <div>
                    @if (BaseController.CurrentUser.AccountGuid == Model[i].UserGuid)
                    {
                        if (Model[i].Submitted)
                        {
                            @Html.ActionLink("Withdraw Submission", "WithdrawSubmission", "Weenie", new { id = Model[i].Weenie.WeenieClassId }, new { @class = "btn btn-sm btn-primary" })
                        }
                        else
                        {
                            @Html.ActionLink("Submit for Review", "CreateSubmission", "Weenie", new { id = Model[i].Weenie.WeenieClassId }, new { @class = "btn btn-sm btn-warning" })
                        }
                    }
                    @Html.ActionLink("Delete Changes", "DeleteSandboxWeenie", "Weenie", new { id = Model[i].Weenie.WeenieClassId }, new { @class = "btn btn-sm btn-primary" })
                </div>
            </div>
        </div>
        <br />

        @Html.EditorFor(m => m[i], "WeenieChangeDiscussion")

    </div>
    }

    @Html.Partial("WeenieCommentModal", new { source = "Sandbox" })
}
